html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg-dark-translucent {
  background-color: rgba(52, 58, 64, 0.5);
  border-radius: 2px;
  box-decoration-break: clone;
  padding: 2px 4px;
}

.border-bottom-sm {
  border-bottom: 1px solid #dee2e6;

  @media (min-width: 768px) {
    border-bottom: initial;
  }
}

.display-hero-header {
  font-size: 4.0rem;
  font-weight: 400;
  line-height: 1.2;
}

.footer-social-media-img {
  height: 30px;
}

.footer-sponsor-img {
  display: block;
  height: 60px;
  margin: 0 auto;
  width: auto;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 0;
}

.navbar-logo-img {
  height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.54);
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.54);
}

.stick-to-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* backgrounds */
.columns-background {
  background-color: #b1b6bc;
  // this would be ../img but it compiles the scss to ../index.css
  background-image: url('./img/background/columns.jpg');

  @media (min-width: 465px) {
    background-position: center;
    background-size: 100% auto;
  }
}

.construction-background {
  background-color: #19140e;
  background-image: url('./img/background/construction.jpg');
  background-position: center;

  @media (min-width: 768px) {
    background-position: initial;
    background-size: 100% auto;
  }
}

.hermes-background {
  background-color: #c0805b;
  background-image: url('./img/background/hermes.jpg');

  @media (min-width: 715px) {
    background-position: center;
    background-size: 100% auto;
  }
}

.sunset-background {
  background-color: #774828;
  background-image: url('./img/background/sunset.jpg');
  background-size: cover;
}

.text-background {
  background-color: #81672d;
  background-image: url('./img/background/text.jpg');

  @media (min-width: 539px) {
    background-size: 100% auto;
  }
}

.funerary-plaque-background {
  background-color: #826145;
  background-image: url('./img/background/funerary-plaque.jpg');

  @media (min-width: 431px) {
    background-size: 100% auto;
  }
}

.ul-within-publication {
  padding-left: 18px;
}

.serveronly-fake-navbar {
  .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
  }

  .nav-link {
    color: rgba(0, 0, 0, .54);
  }
}
