body {
  font-family: 'Roboto', sans-serif;
}

.navbar-logo-img {
  height: 40px;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 0;
}

.sunset-background {
  // this would be ../img but it compiles the scss to ../index.css
  background-image: url('./img/background/sunset.jpg');
  background-color: #774828;

  @media (min-width: 672px) {
    background-size: 100% auto;
  }
}

.columns-background {
  background-image: url('./img/background/columns.jpg');
  background-color: #b1b6bc;

  @media (min-width: 500px) {
    background-size: 100% auto;
    background-position: center;
  }
}

.text-background {
  background-image: url('./img/background/text.png');
  background-color: #81672d;

  @media (min-width: 768px) {
    background-size: 100% auto;
  }
}

.construction-background {
  background-image: url('./img/background/construction.jpg');
  background-color: #19140e;
  background-position: center;

  @media (min-width: 768px) {
    background-position: initial;
    background-size: 100% auto;
  }
}

.bg-dark-translucent {
  background-color: rgba(52, 58, 64, 0.5);
  padding: 2px 4px;
  border-radius: 2px;
  box-decoration-break: clone;
}

.footer-logo-img {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.54);
}
