@import './variables';
@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto', sans-serif;
}

.navbar-logo-img {
  height: 40px;
}

.jumbotron {
  background-image:url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 0;

  @media (min-width: 672px) {
    background-size: 100% auto;
  }
}

.footer-logo-img {
  height: 60px;
  width: auto;
  display: block;
  margin: 0 auto;
}
